<!DOCTYPE html>
<html>
<head>
  <title>Fidi</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
    <ul class="navbar navbar-fixed-top navbar-inverse">
      <li><%= link_to "Booths",   admin_booths_path %></li>
      <li><%= link_to "Posts",   admin_posts_path %></li>
      <li><%= link_to "Users",   admin_users_path %></li>
    </ul>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
